<div class="container">
  <h3>What do you want to watch?</h3>
  <app-search-bar></app-search-bar>
  <app-slider></app-slider>
  <div class="container-movies">
    <ul>
      <li
        (click)="fetchMoviesByCategory('now_playing')"
        [class.active]="activeItem === 'now_playing'"
      >Now playing</li>
      <li
        (click)="fetchMoviesByCategory('upcoming')"
        [class.active]="activeItem === 'upcoming'"
      >Upcoming</li>
      <li
        (click)="fetchMoviesByCategory('top_rated')"
        [class.active]="activeItem === 'top_rated'"
      >Top Rated</li>
      <li
        (click)="fetchMoviesByCategory('popular')"
        [class.active]="activeItem === 'popular'"
      >Popular</li>
    </ul>
    <div class="cards">
      <div class="movie-card" *ngFor="let movie of movies">
        <img [src]="movie.img" [alt]="movie.title" [routerLink]="['/movie', movie.id]">
      </div>
    </div>
  </div>
</div>
<app-tabs-bar></app-tabs-bar>
