.tab-container {
  min-height: 64.5px;
  width: 375px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #242A32;
  border-top: 2px solid #0296E5;
}


.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 25px;
  margin-left: 7px;
  font-size: 10px;
  cursor: pointer;
}

.tab span {
  margin-top: 5px;
  color: #67686D;
}

.active span {
  color: #0296E5;
}

@media only screen and (max-width: 450px) and (min-height: 600px) {
  .tab-container {
    width: 100%;
  }
  .separator {
    width: 121.5%;
    height: 2px;
    position: relative;
    top: -14px;
    left: -15%;
  }

  .tab-bar {
    height: 38px;
  }
}
