.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.back, .info {
  cursor: pointer;
}
.container {
  height: 43.22rem;
}

.search-content {
  margin-top: 10px;
  max-height: 34.6rem;
  overflow-y: scroll;
}

.search-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.movie-container {
  margin: 10px 0;
  display: flex;
}

img {
  width: 100px;
  border-radius: 17px;
}

.details {
  margin-top: 5px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.movie-name {
  font-size: 18px;
  margin-bottom: 15px;
}

.movie-info {
  display: flex;
  align-items: center;
}

.movie-info > p {
  font-size: 12px;
  padding: 0.3rem;
}

.rating p {
  color: #FF8700;
}

.no-result {
  min-height: 70%;
  display: flex;
  justify-content: center;
}

.no-result-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-result-content img {
  width: 110px;
  padding: 15px;
}

.no-result-content p {
  font-family: montserrat;
  text-align: center;
  line-height: 1.5;
  font-weight: 600;
  padding: 4px;
}

.no-result-content p:last-child {
  color: #92929D;
  font-size: 12px;
}

@media only screen and (max-width: 300px) {
  .container {
    width: 100vw;
    height: 25rem;
  }

  .search-content {
    max-height: 28.5rem;
  }
}
@media only screen and (min-width: 301px) and (max-width: 450px) {
  .container {
    width: 100vw;
    height: 25rem;
  }

  .search-content {
    max-height: 29rem;
  }
}

@media only screen and (max-width: 450px) and (min-height: 700px) {
  .container {
    width: 100vw;
    height: 25rem;
  }

  .search-content {
    max-height: 43rem;
  }
}
