/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1e1e1e;
  user-select: none;
}

.container {
  width: 375px;
  height: 100%;
  background-color: #242A32;
  margin: 0 auto ;
  padding: 24px ;
  position: relative;
}

@media only screen and (max-width: 450px) {
  .container {
      width: 100%;
      height: 100%;
  }
}


